h3 {
  margin-top: 10px;
}

.mat-form-field {
  width: 296px;
  max-width: 396px;
  margin-right: 8px;
  margin-bottom: 15px;
}

.big-field {
  display: block;
  width: 100%;
  max-width: 600px;
}

mat-divider {
  margin: 20px 0;
  width: 100%;
}

.question-action-buttons {
  margin: 10px 0;
}

.button-row {
  width: 100%;
  display: flex;
}

button {
  margin: 0 10px 10px 0;
}

.question-box {
  max-width: 890px;
  padding: 0 5px;
}

.question-field {
  display: block;
  width: 100%;
  max-width: 800px;
  margin: auto 0;
  margin-right: 15px;
}

.del-button {
  margin: 0;
}

mat-card-title-group {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}

// .mat-expansion-panel-header[aria-disabled='true']
//   .mat-expansion-panel-header-title,
// .mat-expansion-panel-header[aria-disabled='true']
//   .mat-expansion-panel-header-description {
//   color: rgba(0, 0, 0, 0.54) !important;
// }

mat-slide-toggle {
  margin-bottom: 10px;
  display: block;
}

.slide-toggle-box {
  margin: 10px;
}
