<div class="content-container" *ngIf="isDataLoaded">
  <mat-progress-bar
    mode="determinate"
    value="{{ currentCardIndex * 10 }}"
  ></mat-progress-bar>

  <h2>Frage {{ currentCardIndex }} von {{ deck.questions.length }}</h2>
  <p>{{ currentCard.question }}</p>

  <label id="radio-group-label">{{ questionTypeText }}</label>
  <mat-radio-group
    aria-labelledby="radio-group-label"
    class="radio-group"
    [disabled]="isDisabled"
  >
    <mat-radio-button
      class="radio-button"
      *ngFor="let answer of currentCard.answers"
      (change)="onChange(answer)"
      [value]="answer.text"
    >
      {{ answer.text }}
    </mat-radio-button>
  </mat-radio-group>

  <p class="explanation-box">
    <span
      *ngIf="explanationText"
      [class.answer-correct]="selectedAnswer.correctAnswer"
      [class.answer-wrong]="!selectedAnswer.correctAnswer"
    >
      {{ explanationText }}
    </span>
  </p>

  <button
    mat-flat-button
    color="primary"
    (click)="onCheck()"
    [disabled]="!toggleCheck"
  >
    Überprüfen
  </button>
  <button
    mat-flat-button
    color="primary"
    (click)="onNext()"
    [disabled]="!toggleNext"
  >
    Nächste Frage
  </button>
</div>

<div class="content-container" *ngIf="isQuizCompleted">
  <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
  <p>Du hast den Fragenkatalog abgeschlossen.</p>
  <p>
    Du hast {{ totalCorrectAnswers }} von {{ deck.questions.length }} richtig
    beantwortet!
  </p>
  <p>
    Das wäre eine ... Bewertung. <br />
    Klasse!
  </p>
  <button mat-flat-button color="primary" routerLink="/deck/{{ deck.id }}">
    Quiz erneut starten
  </button>
  <button mat-flat-button routerLink="/catalogue">
    Zurück zur Übersicht
  </button>
</div>

<!-- [class.some-css-class]="some-condition" -->
<!-- (change)="onChange($event)" -->
<!-- 
[class.correct]="isDisabled && answer.correctAnswer"
[class.wrong]="isDisabled && !answer.correctAnswer && answer === selectedAnswer
" -->
