.cards {
  margin: 0 0 2em 0;
  list-style-type: none;
  width: 15em;
  padding: 0;
  color: white;
}

.cards li {
  cursor: pointer;
  background-color: #aaaaaa;
  position: relative;
  left: 0;
  margin: 0.5em;
  padding: 0.3em 0;
  height: 1.6em;
  border-radius: 4px;
}

.cards li:hover {
  background-color: #868686;
  left: 0.1em;
}

.cards li.selected {
  background-color: #5e5e5e;
}

.cards li.selected:hover {
  background-color: #5e5e5e;
}

.cards li.correct {
  background-color: #1dc690;
  pointer-events: none;
}

.cards li.wrong {
  background-color: #c61d1d;
  pointer-events: none;
}

.cards li.inactive {
  background-color: #d4d4d4;
  pointer-events: none;
}

.cards .answer {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: 0.8em;
  border-radius: 4px 0 0 4px;
}

.explanation-box {
  min-height: 19px;
  margin: 16px 0;
}

button {
  margin: 15px 10px 15px 0;
}

mat-progress-bar {
  max-width: 1000px;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.radio-button {
  margin: 1px;
  padding: 5px;
  border-radius: 4px;
}

::ng-deep.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: #3f51b5 !important; /*click effect color change*/
}

::ng-deep.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #3f51b5 !important; /*inner circle color change*/
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked
  .mat-radio-outer-circle {
  border-color: #3f51b5 !important; /*outer ring color change*/
}

// ::ng-deep.mat-radio-button.mat-accent.mat-radio-checked.mat-radio-disabled
//   .mat-radio-outer-circle {
//   border-color: #c61d1d !important;
// }

.answer-correct {
  color: #1dc690;
}

.answer-wrong {
  color: #c61d1d;
}
