<div class="content-container" *ngIf="isDataLoaded">
  <mat-progress-bar
    mode="determinate"
    value="{{ currentCardIndex * 10 }}"
  ></mat-progress-bar>
  <h2>Frage {{ currentCardIndex }} von {{ deck.questions.length }}</h2>

  <p>{{ currentCard.questionText }}</p>
  <p>{{ questionTypeText }}</p>

  <ul class="cards">
    <li
      *ngFor="let answer of currentCard.answers; index as i"
      [class.selected]="answer === selectedAnswer"
      [class.correct]="
        (answerResultColor === 'isCorrect' && answer === selectedAnswer) ||
        (toggleNext && answer.correctAnswer)
      "
      [class.wrong]="
        answerResultColor === 'isWrong' && answer === selectedAnswer
      "
      [class.inactive]="
        toggleNext && !answer.correctAnswer && answer !== selectedAnswer
      "
      (click)="onSelect(answer)"
    >
      <span class="answer"> o </span>{{ answer.answerText }}
    </li>
  </ul>
  <p class="explanation-box">{{ explanationText }}</p>
  <button
    mat-flat-button
    color="primary"
    (click)="onCheck()"
    [disabled]="!toggleCheck"
  >
    Überprüfen
  </button>
  <button
    mat-flat-button
    color="primary"
    (click)="onNext()"
    [disabled]="!toggleNext"
  >
    Nächste Frage
  </button>
</div>

<div class="content-container" *ngIf="isQuizCompleted">
  <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
  <p>Du hast den Fragenkatalog abgeschlossen.</p>
  <p>
    Du hast {{ totalCorrectAnswers }} von {{ deck.questions.length }} richtig
    beantwortet!
  </p>
  <p>
    Das wäre eine ... Bewertung. <br />
    Klasse! / Wiederhole den Fragenkatalog doch einfach noch ein Mal!
  </p>
  <button mat-flat-button color="primary" routerLink="/deck/{{ deck.id }}">
    Quiz erneut starten
  </button>
  <button mat-flat-button routerLink="/catalogue">
    Zurück zu den Fragenkatalogen
  </button>
</div>
<!-- [class.some-css-class]="some-condition" -->
