<h3>Öffentliche Fragenkataloge</h3>

<form class="form">
  <mat-form-field class="input-search">
    <input
      matInput
      type="text"
      (keyup)="doFilter($event.target.value)"
      placeholder="Suche nach Titel, Thema oder Fachgebiet.."
    />
  </mat-form-field>
</form>

<table mat-table [dataSource]="decks" class="mat-elevation-z2" matSort>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Titel</th>
    <td mat-cell *matCellDef="let deck">{{ deck.name }}</td>
  </ng-container>

  <ng-container matColumnDef="topic">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Thema</th>
    <td mat-cell *matCellDef="let deck">{{ deck.topic }}</td>
  </ng-container>

  <ng-container matColumnDef="subject">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Fachgebiet</th>
    <td mat-cell *matCellDef="let deck">{{ deck.subject }}</td>
  </ng-container>

  <ng-container matColumnDef="author">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Autor</th>
    <td mat-cell *matCellDef="let deck">{{ deck.owner.displayName }}</td>
  </ng-container>

  <ng-container matColumnDef="creationDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Erstellt</th>
    <td mat-cell *matCellDef="let deck">
      {{ deck.creationDate | date: 'dd.MM.yy' }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: columnsToDisplay"
    routerLink="/deck/{{ row.id }}"
  ></tr>
</table>

<div *ngIf="!isDataLoaded" class="progress-spinner-container">
  <mat-spinner></mat-spinner>
  <p class="progress-spinner-text">Kataloge werden geladen..</p>
</div>
