<div class="content-container" *ngIf="isDataLoaded">
  <h2>Ausgewählter Fragenkatalog: {{ deck.name }}</h2>

  <table class="deck-details">
    <tbody>
      <tr>
        <th scope="row">Titel</th>
        <td>{{ deck.name }}</td>
      </tr>
      <tr>
        <th scope="row">Thema</th>
        <td>{{ deck.topic }}</td>
      </tr>
      <tr>
        <th scope="row">Fachgebiet</th>
        <td>{{ deck.subject }}</td>
      </tr>
      <tr>
        <th scope="row">Autor</th>
        <td>{{ deck.author }}</td>
      </tr>
      <tr>
        <th scope="row">Kurs</th>
        <td>{{ deck.course }}</td>
      </tr>
      <tr>
        <th scope="row">Semster</th>
        <td>{{ deck.semester }}</td>
      </tr>
      <tr>
        <th scope="row">Schwierigkeitsgrad</th>
        <td>{{ deck.difficulty }}</td>
      </tr>
      <tr>
        <th scope="row">Anzahl der Fragen</th>
        <td>{{ deck.questions.length }}</td>
      </tr>
      <tr>
        <th scope="row">Beschreibung</th>
        <td>
          {{ deck.description }}
        </td>
      </tr>
      <tr>
        <th scope="row">Erstellt am</th>
        <td>
          {{ deck.creationDate | date: 'dd.MM.yyyy' }}
        </td>
      </tr>
    </tbody>
  </table>

  <p class="button-row">
    <button
      mat-flat-button
      [disabled]="!deck.questions.length"
      color="primary"
      routerLink="/card/{{ deck.id }}"
    >
      Start Quiz
    </button>
    <button mat-flat-button (click)="onGoBack()">
      Zurück
    </button>
    <span class="spacer"></span>
    <button
      mat-icon-button
      class="icon"
      aria-label="icon-button with settings icon"
    >
      <mat-icon>favorite_border</mat-icon>
    </button>
  </p>
</div>
