<div class="content-container">
  <mat-tab-group>
    <mat-tab label="Frage erstellen">
      <ng-template matTabContent>
        Geladen um: {{ getTimeLoaded(1) | date: 'medium' }}
        <app-question></app-question>
      </ng-template>
    </mat-tab>
    <mat-tab label="Erstellte Fragen">
      <ng-template matTabContent>
        Geladen um: {{ getTimeLoaded(2) | date: 'medium' }}
        <app-my-questions></app-my-questions>
      </ng-template>
      <app-my-questions></app-my-questions>
    </mat-tab>
    <mat-tab label="Katalog erstellen">
      <ng-template matTabContent>
        Geladen um: {{ getTimeLoaded(3) | date: 'medium' }}
        <app-collection></app-collection>
      </ng-template>
    </mat-tab>
    <mat-tab label="Erstellte Kataloge">
      <ng-template matTabContent>
        Geladen um: {{ getTimeLoaded(4) | date: 'medium' }}
        <app-my-collections></app-my-collections>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
