table {
  background-color: #ffffff;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  display: table;
}
table td,
table th {
  border: 1px solid #d3d3d3;
  padding: 0 6px;
}

td,
th {
  display: table-cell;
}

a {
  text-decoration: none;
}
mat-divider {
  margin: 20px 0;
}

table.mat-table {
  width: 100%;
  border-spacing: 0;
  margin: 10px 0;
}

tr.mat-header-row {
  height: 44px;
}

tr.mat-row {
  height: 44px;
}

tr.mat-row:hover {
  background-color: #f5f5f5;
}

td.mat-cell:hover {
  cursor: pointer;
}

td.mat-cell.delete-cell {
  text-align: center;
}

td.mat-cell.delete-cell:hover {
  cursor: auto;
}

th.mat-header-cell {
  background-color: #3f51b5;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
}

td.mat-cell {
  font-size: 14px;
}

h3 {
  margin-top: 10px;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.input-search {
  width: 100%;
}
