table {
  border: 0px solid #c8e1ff;
  background-color: #ffffff;
  width: 100%;
  max-width: 600px;
  text-align: left;
  border-collapse: collapse;
}
table td,
table th {
  border: 1px solid #d3d3d3;
  padding: 6px 6px;
}
table tbody td {
  font-size: 13px;
  color: #24292e;
}
table .clickable-tr:nth-child(even) {
  background: #f8f8f8;
}
table thead {
  background: #f1f8ff;
}
table thead th {
  font-size: 15px;
  font-weight: normal;
  color: #24292e;
  text-align: center;
}
table {
  display: table;
}
tr,
.clickable-tr {
  display: table-row;
}
thead {
  display: table-header-group;
}
td,
th {
  display: table-cell;
}
thead {
  display: table-header-group;
}
tbody {
  display: table-row-group;
}
a {
  text-decoration: none;
}
