mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.spacer {
  flex: 1 1 auto;
}

.toolbar-title {
  font-size: 18px;
  margin-right: 0;
}

.toolbar-link-row {
  display: flex;
}

.toolbar-link {
  flex: 1;
  max-width: 120px;
}
