<div *ngIf="isDataLoaded">
  <h2>Ausgewählter Fragenkatalog: {{ deck.name }}</h2>

  <table class="deck-details">
    <tbody>
      <tr>
        <th>Titel</th>
        <td>{{ deck.name }}</td>
      </tr>
      <tr>
        <th>Thema</th>
        <td>{{ deck.topic }}</td>
      </tr>
      <tr>
        <th>Fachgebiet</th>
        <td>...</td>
      </tr>
      <tr>
        <th>Autor</th>
        <td>{{ deck.author }}</td>
      </tr>
      <tr>
        <th>Kurs</th>
        <td>{{ deck.course }}</td>
      </tr>
      <tr>
        <th>Semster</th>
        <td>...</td>
      </tr>
      <tr>
        <th>Schwierigkeitsgrad</th>
        <td>Anfänger/ Fortgeschritten/ Experte/ Prüfungsvorbereitung</td>
      </tr>
      <tr>
        <th>Anzahl der Fragen</th>
        <td>{{ deck.questions.length }}</td>
      </tr>
    </tbody>
  </table>

  <p>
    <button mat-flat-button color="primary" routerLink="/quiz/{{ deck.id }}">
      Start Quiz
    </button>
    <button mat-flat-button routerLink="/catalogue">
      Zurück
    </button>
  </p>
</div>
