@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f7f7f7;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}

h1 {
  color: #1c4670;
  font-family: 'Abril Fatface', cursive;
  font-size: 250%;
}

.top-spacer {
  position: absolute;
  top: 64px;
  width: 100%;
}

.content-container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 2em;
  padding-top: 1em;
}

@media (max-width: 599px) {
  .top-spacer {
    position: absolute;
    top: 56px;
    width: 100%;
  }
  .content-container {
    margin: 0 auto;
    padding: 1em;
  }
}
