@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  background-color: #f7f7f7;
  margin: 2em;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}

h1 {
  color: #1c4670;
  font-family: 'Abril Fatface', cursive;
  font-size: 250%;
}
