@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body {
  background-color: #eaeae0;
  margin: 2em;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #1c4670;
  font-family: 'Lobster', cursive;
  font-size: 250%;
}
