<div class="header">
  <div class="header-section">
    <div class="header-container">
      <div class="header-headline">FlashCard App</div>
      <p class="header-text">
        Erstelle deine eigenen Fragenkataloge und teilen sie mit Freunden.
        <br />Oder suche nach Fragenkatalogen zu verschiedenen Themen und finde
        heraus wie gut du dich auskennst.
      </p>
    </div>
  </div>
</div>

<div class="section-row">
  <a routerLink="/public">
    <div class="card">
      <img src="../../assets/fca_logo.png" height="70px" alt="Gehe zu Quiz" />
      <div class="text-container">
        <div class="text-headline">Werde ein Quiz-Master</div>
        <p>
          Du kannst nach vielen Themen oder Vorlesungen suchen. Ein Quiz kannst
          du so oft lösen wie du möchtest bis du zum Quiz-Master wirst. Dafür
          benötigst du kein Konto.
        </p>
      </div>
    </div>
  </a>
</div>

<div *ngIf="!loggedIn" class="section-row">
  <a class="register" (click)="login()">
    <div class="card">
      <img
        src="../../assets/fca_logo.png"
        height="70px"
        alt="Konto erstellen"
      />
      <div class="text-container">
        <div class="text-headline">
          Erstelle dein eigenes Quiz
        </div>
        <p>
          Erstelle Fragenkataloge zu interessanten Themen und teile sie mit
          Freunden. Oder nutze sie nur für dich selbst zum lernen. Registriere
          dich hier mit einem Konto um loszulegen!
        </p>
      </div>
    </div>
  </a>
</div>

<div *ngIf="loggedIn" class="section-row">
  <a routerLink="/question">
    <div class="card">
      <img
        src="../../assets/fca_logo.png"
        height="70px"
        alt="Fragenkataloge erstellen"
      />
      <div class="text-container">
        <div class="text-headline">
          Erstelle dein eigenes Quiz
        </div>
        <p>
          Erstelle Fragenkataloge zu interessanten Themen und teile sie mit
          Freunden. Oder nutze sie nur für dich selbst zum lernen. Du bist
          bereits eingeloggt, lege gleich los!
        </p>
      </div>
    </div>
  </a>
</div>
